.benefits {
  &__wrapper {
    padding: 160px 0 40px;
  }
  &__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 45px;
    color: #FFFFFF;
    span {
      color: #CFB53B;
      padding-left: 7px;
    }
  }
  &__elements {
    display: flex;
    justify-content: space-between;
  }
  &__elem {
    padding: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    background: #4B4B4B;
    color: #FFFF;
    backdrop-filter: blur(40px);
    margin-right: 8px;
    margin-left:8px;
    &_bg {
      background-image: url("../images/backgold.png");
      object-fit: cover;
      margin-top: 70px;
      color: #1D1B1B;
    }
    &_middle {
      max-height: 340px;
    }
  }

  @media (max-width: 992px) {
    &__wrapper {
      padding-top: 30px;
    }
    &__elements {
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
    &__elem {
      margin-right: 0;
      margin-left: 0;
      max-width: 400px;
      margin-bottom: 30px;

      &_bg {
        margin-top: 0;
      }
    }
  }

  @media (max-width: 767px) {
    &__title {
      font-size: 27px;
      margin-bottom: 20px;
    }
    &__elem {
      font-size: 16px;
    }
  }

  @media (max-width: 426px) {
    &__elem {
      font-size: 14px;
    }
  }
}